[Unit]
Description=Signmykey server
After=syslog.target network.target

[Service]
User=signmykey
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/signmykey server

[Install]
WantedBy=multi-user.target
