name: Master
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: false

      - name: Run Golang CI Lint
        uses: golangci/golangci-lint-action@v8
        with:
          skip-cache: true

      - name: Run Govulncheck
        uses: golang/govulncheck-action@v1
        with:
          cache: false

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --snapshot --skip=sign --clean
        env:
          GORELEASER_CURRENT_TAG: ${{ github.run_id }}

      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: bin/
