name: Tag
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.0

      - name: Run Golang CI Lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.33

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}

      - uses: jfrog/setup-jfrog-cli@v1
      - run: |
          jfrog rt upload --url https://signmykey.jfrog.io/artifactory/ --apikey=${{ secrets.JFROG_APIKEY }} --deb stable/main/amd64 bin/signmykey_${{ steps.get_version.outputs.VERSION }}_amd64.deb signmykey-deb/
          jfrog rt upload --url https://signmykey.jfrog.io/artifactory/ --apikey=${{ secrets.JFROG_APIKEY }} bin/signmykey-${{ steps.get_version.outputs.VERSION }}-x86_64.rpm signmykey-rpm/
